<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.office.mapper.MyPageMapper">

<!-- 
*	작성자 : 고광훈
*	진행상황 : src/main/java 패키지 생성, office페이지 컨트롤러, Mapper, Service, VO 생성 
*	변수정리 : 
*	테스트 성공 유무 :  
*	오류사항 : 
*	etc...
 -->
 
 <select id="getInfo" resultType="org.office.domain.UserVO">
 <![CDATA[
 SELECT * FROM users WHERE uid=#{uid}
 ]]>
 </select>
 
 <select id="getMeal" resultType="org.office.domain.MealVO">
 <![CDATA[
 SELECT * FROM meal WHERE dailymeal=#{dailymeal}
 ]]>
 </select>
 
 <select id="getTodo" resultType="org.office.domain.TodoVO">
 <![CDATA[
 SELECT todo_num, checker, todo_content, recive_time, complete FROM todo WHERE worker=#{worker}
 ]]>
 </select>
 
 <insert id="insertTodo">
 <![CDATA[
 INSERT INTO todo(worker, checker, todo_title, todo_content, recive_time)
 VALUES (#{worker}, #{checker},#{todo_title}, #{todo_content}, now())
 ]]>
 </insert>
 

 </mapper>